
.main {
  width: 100%;
}


.container-header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: black;
}

.logo {
  display: flex;
  align-content: center;
  flex: 1;
  padding: 10px;
}

#logotext {
    padding: 15px;
    color:         MediumAquamarine;
}

.nav {
  display: inline-block;
  flex: 1;
  justify-content: flex-end;
}

.nav li {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
  }

.container-news {
  display: flex;
  align-content: flex-start;
}

.container-news div {
  border-style: solid;
}

.column {
  flex-direction: column;
}

.column .large {
  width: 630px;
}

.column .medium {
  width: 300px;
}

.column .small {
  width: 240px;
}

.container-footer {
  background-color: orange;
}
